.search-form
    //- h1 search form
    input(
            type='text'
            name='buscar'
            id='buscar'
            onkeyup='validacion();'
            aria-autocomplete="list"
            )

    button(id='btn_buscar' disabled="disabled") Buscar 
    a(href='#' onclick="guardar_busqueda();") Guardar Búsqueda 


